
.work_container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.image_container {
  width: 100%;
  height: 100%;
  flex: 0 0 50%;
  position: relative;
  overflow: hidden;
  object-fit: contain;
}
.work_image {
    
  }
.description {
    flex: 0 0 20%;

}
.stack_list {
    flex: 0 0 15%;

}
.visit_button {
    text-decoration: none;
    color: white;
    border: 1px solid var(--secondary-color);
    width: fit-content;
    padding: 0.5rem 1rem;
}
.visit_button:hover {
    text-decoration: none;
    color: var(--secondary-color);
}
